@model SnowboardProject.Models.ForumPost

@* 
<div class="form-group">

    @Html.LabelFor(p => p.id)
    @Html.TextBoxFor(p => p.id, new{@class = "form-control", @readonly = "readonly"})
    @Html.ValidationMessageFor(p => p.id)

</div> *@

<div class="form-group">

    @Html.LabelFor(p => p.Post)
    @Html.TextAreaFor(p => p.Post, new{@class = "form-control"})
    @Html.ValidationMessageFor(p => p.Post)

</div>


